@import "./mixins.scss";
@import "./variables.scss";

.base {
  @include flexProp(row, 0rem, center, center);
  height: 1.8rem;
  width: 1.8rem;
  background-color: rgba($color: #fff, $alpha: 0.5);
  border-radius: 50%;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    right: 50%;
    bottom: 50%;
    background-color: #fff;
    transform-origin: bottom right;
    animation: rotate 1s linear infinite;
  }

  &::after {
    content: "";
    height: 75%;
    width: 75%;
    position: absolute;
    background-color: #ff7c68;
    border-radius: 50%;
  }
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg) skew(-10deg);
  }
  50% {
    transform: rotateZ(180deg) skew(70deg);
  }
  100% {
    transform: rotateZ(360deg) skew(-10deg);
  }
}
